@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #379944;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    margin: 0;
}

.form-image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container {
    display: flex; 
    justify-content: center; 
    margin-top: 1rem; 
}

.login-button,
.register-button {
    margin: 0 0.5rem;
}

.login-button button,
.register-button button {
    border: none;
    background-color: #379944;
    padding: 0.6rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}


.login-button button:hover,
.register-button button:hover {
    background-color: #46c257;
}

.login-button button a,
.register-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #379944;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
